body {
    margin: 0;
    background-color: #d2d2d280;
    font-family: 'Roboto', sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    background-color: #fff;
    color: #000000;
    border-bottom: 1.5px solid rgba(89, 89, 89, 0.319);

    
  }
 
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  nav li:not(:last-child) {
    margin-right: 50px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
  }
  /* estilos para el nav2 */
  .nav2{
    padding: 2vw 8vw;
    border-bottom: none;
  }


 


  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .about-link {
    margin-right: 20px;
  }
  
  .search-link a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-link i {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
  }
  nav .search {
    margin-left: 20px;
  }